@font-face { font-family: 'Anton'; font-weight: 400; font-style: normal; src: url(Anton-400.woff2) format('woff2'); }
@font-face { font-family: 'Poppins'; font-weight: 400; font-style: normal; src: url(Poppins-400.woff2) format('woff2'); }
@font-face { font-family: 'Poppins'; font-weight: 500; font-style: normal; src: url(Poppins-500.woff2) format('woff2'); }
@font-face { font-family: 'Poppins'; font-weight: 600; font-style: normal; src: url(Poppins-600.woff2) format('woff2'); }
@font-face { font-family: 'Poppins'; font-weight: 700; font-style: normal; src: url(Poppins-700.woff2) format('woff2'); }
